@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.inner {
  display: flex;
  width: 100%;
  .sidebar {
    min-width: 320px;
    padding: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .fade {
      opacity: .2;
    }
    .field-outer {
      display: flex;
      margin-bottom: 12px;
      &.data-create-button {
        justify-content: flex-end;
      }
    }
  }
  .canvas {
    padding: 12px;
    display: flex;
    flex-direction: column;
    .template-container {
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      .template-inner {
        display: flex;
        flex-direction: column;
        //max-width: 700px;
        //width: 700px;
        width: 100%;
        border: 1px solid palette.$medium-grey;
        border-radius: 4px;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding: 24px;
        z-index: 9;
        .edit-area {
          display: flex;
          flex-direction: column;
          height: 100%;
          overflow: auto;
          flex-grow: 1;
          padding: 12px;
          &.hide {
            display: none;
          }
          .section-list {
            display: flex;
            flex-direction: column;
            .section {
              display: flex;
              padding: 6px 0;
              width: 100%;
              border: 1px dotted transparent;
              &:hover {
                border: 1px dotted palette.$medium-grey;
              }
              &:focus {
                border: 1px dotted palette.$medium-grey;
              }
              .section-body {
                flex-grow: 1;
                .section-content {
                  margin: 0;
                  padding: 0 6px;
                }
              }
              .section-controls {
                margin: 0;
                display: flex;
                align-items: center;
              }

              .style-menu {
                .style-option {
                  margin: 0;
                }
              }
            }

          }
        }


        .footer {
          display: flex;
          align-items: center;
          min-height: 72px;
          border-top:1px solid palette.$medium-grey;
          .secondary {
            display: flex;
            align-items: center;
            flex-grow: 1;
            .data-template-name {
            }
            .data-template-app {
              min-width: 200px;
              margin: 0 12px;
            }
          }
          .controls {
            display: flex;
            align-items: center;
          }
        }
      }
    }

  }
}
