<div class="inner">

  <div class="sidebar-meta-data">
    <div class="field-outer data-payment-type" >
      <!--			<mat-form-field class="field ifm-input selector" subscriptSizing="dynamic" floatLabel="always" appearance="outline">-->
      <!--				<mat-label>Applicable to</mat-label>-->
      <!--				<mat-select [(value)]="selectedSauceID" (selectionChange)="onSelectedSourceChange(selectedSauceID)">-->
      <!--					<mat-option  [value]="app.ifmAppsID" *ngFor="let app of sourceApp">{{ app.ifmAppsName }}</mat-option>-->
      <!--				</mat-select>-->
      <!--			</mat-form-field>-->
      <app-control-chip-dealership-filter></app-control-chip-dealership-filter>
    </div>

    <div class="field-outer data-template-select">
      <mat-form-field class="ifm-input" appearance="outline" subscriptSizing="dynamic">
        <mat-label>Name</mat-label>
        <mat-select [(value)]="currentDisclaimerID" (selectionChange)="onSelectedDisclaimerChange(currentDisclaimerID)">
          <mat-option  [value]="disclaimer.disclaimerId" *ngFor="let disclaimer of disclaimerData, let i = index"><span class="option-label">{{ disclaimer.disclaimerName }}</span></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <p>By changing the select above you are setting the disclaimer that will be used on every template in the prototype. This is temporary.</p>
    <div class="field-outer data-create-button">
      <button
        mat-stroked-button
        color="primary"
        class="ifm-stroked-button primary-outline"
        (click)="doNew()">Create New</button>
    </div>

    <mat-divider></mat-divider>
  </div>
	<div class="canvas">
		<div class="template-container">
			<div class="caption-container">
				<caption class="mat-caption">
					<span>Template</span>
				</caption>
			</div>
			<div class="template-inner mat-elevation-custom-z1">
				<p
						class="section-content {{disclaimerData[currentDisclaimerIndex].disclaimerContents}}"
						contenteditable="true"
						(blur)="doBlur($event)"
						[innerHTML]="disclaimerData[currentDisclaimerIndex].disclaimerContents | safeHtml">
				</p>
				<mat-divider></mat-divider>
				<div class="field-outer data-is-link">
					<mat-slide-toggle [checked]='disclaimerData[currentDisclaimerIndex].disclaimerIsLink' (change)="doToggleDisclaimerType()">Use Shortened link</mat-slide-toggle>
				</div>

				<div class="field-outer data-url" *ngIf="disclaimerData[currentDisclaimerIndex].disclaimerIsLink">
					<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
						<mat-label>Link URL</mat-label>
						<input type="text" matInput placeholder="http://etc..." [(ngModel)]="disclaimerData[currentDisclaimerIndex].disclaimerLink">
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
</div>
