@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.inner {
  display: flex;
  width: 100%;
  .sidebar-meta-data {
    min-width: 320px;
    max-width: 320px;
    padding: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .fade {
      opacity: .4;
    }
    .field-outer {
      display: flex;
      margin-bottom: 12px;
      &.data-create-button {
        justify-content: flex-end;
      }
      &.data-payment-type {
        border-bottom: 1px solid palette.$medium-grey;
        padding-bottom: 12px;
        margin-bottom: 18px;
      }
    }
    .send-test-email {
      margin: 24px 0 12px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .canvas {
    padding: 12px;
    display: flex;
    width: 100%;
    flex-direction: column;
    .template-container {
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      .template-inner {
        display: flex;
        flex-direction: column;
        //max-width: 700px;
        //width: 700px;
        width: 100%;
        border: 1px solid palette.$medium-grey;
        border-radius: 4px;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding: 24px;
        z-index: 9;

        .field-outer {
          margin: 18px 0;
          &.data-url {
            min-width: 320px;
          }
        }

        .footer {
          display: flex;
          align-items: center;
          min-height: 72px;
          border-top:1px solid palette.$medium-grey;
          .secondary {
            display: flex;
            align-items: center;
            flex-grow: 1;
            .data-template-name {
            }
            .data-template-app {
              min-width: 200px;
              margin: 0 12px;
            }
          }
          .controls {
            display: flex;
            align-items: center;
          }
        }
      }
    }

  }
}


[contenteditable] {
  outline: 0px solid transparent;
}
