:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.disclaimer-inner {
  padding: 12px;
  .field-outer {
    margin-bottom: 12px;
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}