<div class="disclaimer-inner">
<!--	<div class="field-outer data-template-name">-->
<!--		<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">-->
<!--			<mat-label>Di</mat-label>-->
<!--			<input type="text" matInput placeholder="Dealer Name" [(ngModel)]="disclaimerData[0].disclaimerId">-->
<!--		</mat-form-field>-->
<!--	</div>-->
<h1>Just the single disclaimer for now. it's editable and will auto save</h1>

	<p
			class="section-content {{disclaimerData[0].disclaimerContents}}"
			contenteditable="true"
			(blur)="doBlur($event)"
			[innerHTML]="disclaimerData[0].disclaimerContents | safeHtml">
	</p>

	<div class="field-outer data-is-link">
		<mat-slide-toggle [checked]='disclaimerData[0].disclaimerIsLink' (change)="doToggleDisclaimerType()">Use Shortened link</mat-slide-toggle>
	</div>

	<div class="field-outer data-key" *ngIf="disclaimerData[0].disclaimerIsLink">
		<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
			<mat-label>Link URL</mat-label>
			<input type="text" matInput placeholder="Link subject" [(ngModel)]="disclaimerData[0].disclaimerLink">
		</mat-form-field>
	</div>

</div>

