@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  width: 100%;
  align-items: center;
}

.controls-inner {
  padding: 0 6px;
  display: flex;
  align-items: center;
  width: 100%;
  &.bg-blue {
    background-color: palette.$dark-blue;
    color: palette.$white;
  }

  .data-customer-filter {
    display: flex;
    align-items: center;
  }

  .data-date-range {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .data-customer-search {
    display: flex;
    align-items: center;
    .search-outer {
      display: flex;
      align-items: center;
      border: 1px solid palette.$medium-grey;
      height: 48px;
      border-radius: 24px;
      position: relative;
      .app-selector {
        display: flex;
        align-items: center;
        padding: 0 12px;
        .selection-text {
          white-space: nowrap;
        }
      }
      input {
        outline: 0;
        border: 0;
        width: 120px;
        &::placeholder {
          font-size: 14px;
        }
        &.bg-blue {
          background-color: palette.$dark-blue;
          color: palette.$white;
          &::placeholder {
            color: palette.$white;
            opacity: .74;
          }
        }
      }
    }
  }

  .toggle-dealers {
    margin: 0 6px;
  }
}

button {
  margin: 0 6px;
}

.chip-filter {
  margin: 0 6px;
}

.field-outer {
  margin: 0 6px;
  &.field-to-date {
    max-width: 148px;
  }
  &.field-from-date {
    max-width: 148px;
  }
}

.new-payment {
  margin: 0 24px;
}
