:host {
  display: flex;
  width: 100%;
  align-items: center;
}

.controls-inner {
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

button {
  margin: 0 6px;
}