@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  width: 100%;
  align-items: center;
}

.controls-inner {
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  .data-customer-search {
    flex-grow: 1;
  }
  .search-outer {
    display: flex;
    align-items: center;
    border: 1px solid palette.$medium-grey;
    height: 48px;
    border-radius: 24px;
    padding: 0 12px;
    max-width:220px;
    input {
      outline: 0;
      border: 0;
      width: 100%;
    }
  }
}

button {
  margin: 0 6px;
}





.chip-filter {
  margin: 0 6px;
}

.field-outer {
  margin: 0 6px;
  &.field-to-date {
    max-width: 148px;
  }
  &.field-from-date {
    max-width: 148px;
  }
}

.new-payment {
  margin: 0 24px;
}