@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.section-container {
  padding: 12px;
  .section {
    display: flex;
    padding: 12px 0;
    width: 100%;
    border: 1px dotted transparent;
    .section-body {
      flex-grow: 1;
      .section-content {
        margin: 0;
        padding: 0 6px;
      }
    }
    .section-controls {
      margin: 0;
      display: flex;
      align-items: center;
    }

    .style-menu {
      .style-option {
        margin: 0;
      }
    }
  }
}
