<div class="section-container">
	<section *ngFor="let template of templateSectionsConverted, let i = index" class="section">
		<div class="section-body">
			<span *ngIf="template.sectionType === 'image'"><img class="logo" src="{{logoString}}" alt="FutureMotors"></span>

			<p *ngIf="template.sectionType === 'text' || template.sectionType === 'disclaimer'"
			   class="section-content {{template.sectionContentStyle}}"
			   [innerHTML]="template.sectionContent | safeHtml">
			</p>

			<div class="section-content" *ngIf="template.sectionType === 'button'">
				<button mat-flat-button color="primary" class="{{templateColorClass}}" (click)="doShowCustomerExperience($event)">{{template.sectionContent}}</button>
			</div>
		</div>
	</section>
</div>
