
<div class="header-data">
	<div class="caption-container">
		<caption class="mat-caption">
			<span>Global Settings</span>
		</caption>
	</div>
	<div class="field-outer data-merchant-id">
		<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
			<mat-label>Merchant ID</mat-label>
			<input type="text" matInput placeholder="ID" [(ngModel)]="dataSource[0].merchantID">
		</mat-form-field>
	</div>
	<div class="field-outer data-template-name">
		<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
			<mat-label>Dealer Name</mat-label>
			<input type="text" matInput placeholder="Dealer Name" [(ngModel)]="dataSource[0].dealerName">
		</mat-form-field>
	</div>
	<div class="field-outer data-template-name">
		<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
			<mat-label>Contact Number</mat-label>
			<input type="text" matInput placeholder="Contact Number" [(ngModel)]="dataSource[0].dealerContactNumber">
		</mat-form-field>
	</div>
	<div class="field-outer data-template-name">
		<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
			<mat-label>Dealer Email</mat-label>
			<input type="text" matInput placeholder="Dealer Email" [(ngModel)]="dataSource[0].dealerEmail">
		</mat-form-field>
	</div>
</div>




	<mat-expansion-panel class="ifm-expansion-panel mat-elevation-z0">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>key</mat-icon><span class="title-text">Secrets and Keys</span>
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="panel-inner">
			<div class="api-keys">
				<div class="field-outer data-key">
					<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
						<mat-label>Public Integration Key</mat-label>
						<input type="text" matInput placeholder="key" [(ngModel)]="dataSource[0].publicIntegrationIKey">
					</mat-form-field>
				</div>
				<div class="field-outer data-key">
					<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
						<mat-label>API Key</mat-label>
						<input type="text" matInput placeholder="API Key" [(ngModel)]="dataSource[0].APIKey">
					</mat-form-field>
				</div>

				<div class="field-outer data-key">
					<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
						<mat-label>Shared Secret</mat-label>
						<input type="text" matInput placeholder="Secret" [(ngModel)]="dataSource[0].sharedSecret">
					</mat-form-field>
				</div>
			</div>

			<div class="api-credentials">
				<div class="field-outer data-key">
					<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
						<mat-label>API Username</mat-label>
						<input type="text" matInput placeholder="Username" [(ngModel)]="dataSource[0].APIUserName">
					</mat-form-field>
				</div>

				<div class="field-outer data-key">
					<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
						<mat-label>API Password</mat-label>
						<input type="text" matInput placeholder="********" [(ngModel)]="dataSource[0].APIPassword">
					</mat-form-field>
				</div>
			</div>
		</div>


	</mat-expansion-panel>

	<mat-expansion-panel class="ifm-expansion-panel mat-elevation-z0">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>credit_card</mat-icon> <span class="title-text">Financial Settings</span>
			</mat-panel-title>
			<mat-panel-description>

			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="field-outer data-template-name">
			<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
				<mat-label>Currency Symbol</mat-label>
				<input type="text" matInput placeholder="Symbol" [(ngModel)]="dataSource[0].currencySymbol">
			</mat-form-field>
		</div>
	</mat-expansion-panel>

<mat-expansion-panel class="ifm-expansion-panel mat-elevation-z0">
	<mat-expansion-panel-header>
		<mat-panel-title>
			<mat-icon>support_agent</mat-icon> <span class="title-text">Customer Support</span>
		</mat-panel-title>
		<mat-panel-description>

		</mat-panel-description>
	</mat-expansion-panel-header>
	<div class="field-outer data-template-name">
		<mat-form-field class="" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
			<mat-label>Support Telephone Number</mat-label>
			<input type="text" matInput placeholder="Number" [(ngModel)]="dataSource[0].supportTelephoneNumber">
		</mat-form-field>
	</div>
</mat-expansion-panel>


