<h1>Disclaimer</h1>
<p>This is not production code !, there is no data wired up to any of the components.</p>
<p>This is purely intended to assist with the design process and assist in validating UX and UI behaviours and data structures</p>
<p>It wouldn't be good software without any bugs , these are the main ones</p>
<ul>
	<li>Changing to an email template via the select control will change the template for ALL sections regardless.</li>
	<li>When editing the values in the payment form sidebar , the page details will not change to reflect this. </li>
	<li>Lots of clicks go nowhere, that is how it should be.</li>
</ul>
<p>Please treat this demonstration software as confidential.</p>
<div class="footer">
	<button mat-flat-button color="primary" matDialogClose>I agree</button>
</div>