<div class="canvas-outer invoice" [ngClass]="{'in-fullscreen': isInFullScreenViewer}">
	<div class="caption-container">
		<caption class="mat-caption">Attachment Preview</caption>
	</div>
	<div class="canvas invoice" [ngClass]="{'mat-elevation-custom-z1': !isInFullScreenViewer}">
		<div class="attachment-viewer-canvas" *ngIf="isViewAttachment || isInFullScreenViewer">
			<ngx-doc-viewer
					[url]="viewerURLString"
					viewer="pdf"
					style="width:100%;height:100%;"
					overrideLocalhost="http://payments.tult.co.nz/"
					queryParams="&toolbar='0'"
					*ngIf="paymentStatusId === 1 || paymentStatusId === 0 || paymentStatusId === 2"></ngx-doc-viewer>
		</div>
		<div class="footer-attachment-viewer" (dragenter)="doDragEnter()"  (dragleave)="doDragLeave()" [ngClass]="{'collapsed': !isViewAttachment}" *ngIf="isShowAttachments">
			<div class="drag-target" *ngIf="isDragging"><span class="mat-headline-2 placeholder-text">Drop file(s) to attach</span></div>
			<div class="attachments-list">
				<div class="attachment" *ngIf="paymentStatusId === 1 || paymentStatusId === 0 || paymentStatusId === 2" (click)="doLoadDocument(0)" [ngClass]="{'active': activeDocument === 0 && isViewAttachment}">
					<div class="file-icon"><img src="./assets/icons/pdf-icon.svg" alt="PDF file" /></div>
					<span class="attachment-text">Invoice.pdf</span>
				</div>
				<div class="attachment" *ngIf="paymentStatusId === 1 || paymentStatusId === 0 || paymentStatusId === 2" (click)="doLoadDocument(1)" [ngClass]="{'active': activeDocument === 1 && isViewAttachment}">
					<div class="file-icon"><img src="./assets/icons/pdf-icon.svg" alt="PDF file" /></div>
					<span class="attachment-text">tsandcs.pdf</span>
				</div>
				<div class="no-attachments" *ngIf="paymentStatusId !== 1 && paymentStatusId !== 0 && paymentStatusId !== 2">
					<span class="mat-headline-4 no-attachment-text placeholder-text">Click add or Drag files to attach</span>
				</div>
			</div>
			<div class="controls">
				<button mat-icon-button color="primary" (click)="fileUpload.click()"><mat-icon>add_circle_outline</mat-icon></button>
				<button mat-icon-button color="primary" (click)="doToggleAttachmentViewer()"><mat-icon *ngIf="isViewAttachment">visibility_off</mat-icon><mat-icon *ngIf="!isViewAttachment">visibility</mat-icon></button>
				<input type="file" class="file-input" #fileUpload>
			</div>
		</div>
	</div>
</div>