
<!--<div *ngFor="let template of templateSections">-->

<!--	<span>{{template.sectionId}}</span>-->
<!--	<span>{{template.sectionContentStyle}}</span>-->
<!--</div>-->

<div class="edit-area">
	<div cdkDropList class="section-list" (cdkDropListDropped)="drop($event)">
		<section *ngFor="let template of templateSections; let i = index" class="section editor-drag" cdkDrag>

			<div class="section-body">

				<span *ngIf="template.sectionType === 'image'"><img class="logo" src="{{logoString}}" alt="FutureMotors"></span>

				<p *ngIf="template.sectionType === 'text'"
				   id="editableSection{{i}}"
				   class="section-content {{template.sectionContentStyle}}"
				   contenteditable="true"
				   (blur)="doBlur($event, i)"
				   [innerHTML]="template.sectionContent | safeHtml"
				   [cdkContextMenuTriggerFor]="context_menu">
				</p>

        <p *ngIf="template.sectionType === 'disclaimer'"
           id="editableSection{{i}}"
           class="section-content {{template.sectionContentStyle}}"
           [innerHTML]="template.sectionContent | safeHtml"
           [cdkContextMenuTriggerFor]="context_menu">
        </p>


				<div class="section-content" *ngIf="template.sectionType === 'button'">
					<button mat-flat-button color="primary" class="{{templateColorClass}}">{{template.sectionContent}}</button>
				</div>
			</div>

			<div class="section-controls">
        <span class="drag-handle" cdkDragHandle>
          <mat-icon color="primary" *ngIf="template.sectionType === 'text' || template.sectionType === 'button'" [matMenuTriggerFor]="lineMenu">drag_indicator</mat-icon>
          <mat-icon color="primary" *ngIf="template.sectionType === 'image'" [matMenuTriggerFor]="imageMenu">drag_indicator</mat-icon>
        </span>
			</div>

<!--      Menus-->

      <ng-template #context_menu>
        <div class="insert-menu mat-elevation-z4" cdkMenu>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[dealerName]',i)">Dealer Name</button>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[customerFirstname]',i)">Customer First Name</button>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[ammount]',i)">Ammount</button>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[invoiceNumber]',i)">Invoice Number</button>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[dueDate]',i)">Due Date</button>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[vehicle]',i)">Vehicle</button>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[workCarriedOut]',i)">Work Carried Out</button>
          <button class="insert-menu-item" cdkMenuItem (click)="insertText('[triageDisclaimer]',i)">Triage Disclaimer</button>
        </div>
      </ng-template>

			<mat-menu #lineMenu="matMenu" class="ifm-menu style-menu">
				<button mat-menu-item class="style-option mat-headline-2" (click)="doSetStyle('mat-headline-2', i)">Headline 1<mat-icon *ngIf="template.sectionContentStyle === 'mat-headline-2'">done</mat-icon></button>
				<button mat-menu-item  class="style-option mat-headline-4" (click)="doSetStyle('mat-headline-4', i)">Headline 2<mat-icon *ngIf="template.sectionContentStyle === 'mat-headline-4'">done</mat-icon></button>
				<button mat-menu-item class="style-option" (click)="doSetStyle('', i)">Body Text<mat-icon *ngIf="template.sectionContentStyle === ''">done</mat-icon></button>
				<mat-divider></mat-divider>
				<button mat-menu-item class="style-option" color="warn" (click)="doDeleteRow(i)">Delete<mat-icon>delete</mat-icon></button>
			</mat-menu>

			<mat-menu #imageMenu="matMenu" class="ifm-menu style-menu">
				<button *ngFor="let image of images, let i = index" mat-menu-item class="style-option" (click)="doChangeLogo(image.ImageDiscName)">
					{{image.ImageName}}
				</button>
			</mat-menu>

		</section>
		<section class="add-new-item">
			<button mat-stroked-button [matMenuTriggerFor]="keyMenu" color="primary" class="ifm-stroked-button primary-outline"><mat-icon>add_circle_outline</mat-icon><span>Add New Line</span></button>
			<mat-menu #keyMenu="matMenu">
				<button mat-menu-item  (click)="doAddRow('[dealerName]','text')">Dealer Name</button>
				<button mat-menu-item  (click)="doAddRow('[customerFirstname]','text')">Customer First Name</button>
				<button mat-menu-item  (click)="doAddRow('[ammount]','text')">Total Ammount</button>
				<button mat-menu-item  (click)="doAddRow('[invoiceNumber]','text')">Invoice Number</button>
				<button mat-menu-item  (click)="doAddRow('[dueDate]','text')">Due Date</button>
				<button mat-menu-item  (click)="doAddRow('[vehicle]','text')">Vehicle</button>
				<button mat-menu-item  (click)="doAddRow('[workCarriedOut]','text')">Work Carried Out</button>
				<button mat-menu-item  (click)="doAddRow('[triageDisclaimer]','text')">Disclaimer</button>
        <button mat-menu-item  (click)="doAddRow('Image','image')">Image</button>
				<button mat-menu-item  (click)="doAddRow('Blank Line','text')">Blank Line</button>
			</mat-menu>
		</section>
	</div>
</div>


