@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
}
.edit-area {
  flex-grow: 1;
  padding: 12px;
  &.hide {
    display: none;
  }
  .section-list {
    display: flex;
    flex-direction: column;
    .section {
      display: flex;
      padding: 6px 0;
      width: 100%;
      border: 1px dotted palette.$medium-grey;
      margin: 2px 0;
      &:hover {
        border: 1px dotted palette.$medium-grey;
      }
      &:focus {
        border: 1px dotted palette.$medium-grey;
      }
      .section-body {
        flex-grow: 1;
        .section-content {
          margin: 0;
          padding: 0 6px;
        }
        .logo {
          max-width: 280px
        }
      }
      .section-controls {
        margin: 0;
        display: flex;
        align-items: center;
      }

      .style-menu {
        .style-option {
          margin: 0;
        }
      }
    }
    .add-new-item {
      margin-top: 6px;
    }
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}

.insert-menu {
  display: flex;
  flex-direction: column;

  .insert-menu-item {
    display: flex;
    padding: 16px;
    background-color: palette.$white;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color: palette.$very-light-grey;
    }

    &:first-child {
      margin-top: 12px;
    }
    &:last-child {
      margin-bottom: 12px;
    }
  }
}