@use "src/sass/themes/palette-constants" as palette;

#sidenavContainer {
  height: 100%;
}

#sideContent {
  height: 100%;
  overflow:hidden;
  background-color: palette.$white;
  display: flex;
  flex-direction: column;
}

#settingsSidenav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .mat-drawer-inner-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}


#editCategorySidenavContainer {
  #editCategorySidenav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
  #editCategorySideContent {
    height: 100%;
    background-color: palette.$white;
    display: flex;
    flex-direction: column;
  }
}
#selectOperationLevel1Sidenav {
  height: 100%;
  background-color: palette.$white;
  #selectOperationLevel2Sidenav {
    background-color: palette.$white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .mat-drawer-inner-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      .mat-drawer-container {
        background-color: palette.$white;
      }
    }
  }

  #selectOperationLevel3Sidenav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: palette.$white;

    .mat-drawer-inner-container {
      background-color: palette.$white;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      .mat-drawer-container {
        background-color: palette.$white;
      }
    }
  }

}
