@use "src/sass/themes/palette-constants" as palette;

#sidenavContainer {
  height: 100%;
}

#sideContent {
  height: 100%;
  overflow:hidden;
  background-color: palette.$white;
  display: flex;
  flex-direction: column;
}

#settingsSidenav {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  overflow: hidden;
  .mat-drawer-inner-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
