<mat-table
  #table
  [dataSource]="dataSource"
>
  <!---
  (cdkDropListDropped)="drop($event)"
  Note that these columns can be defined in any order.
        The actual rendered     columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="paymentCustomerSurname" sticky>
    <mat-header-cell *matHeaderCellDef><mat-icon>person</mat-icon> <span class="th-text">Surname</span></mat-header-cell>
    <mat-cell *matCellDef="let element">
		<span class="cell-contents">{{element.paymentCustomerSurname}}</span>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="paymentTransactionCreatedOn">
    <mat-header-cell *matHeaderCellDef><mat-icon class="th-icon">event</mat-icon> <span class="th-text">Created On</span> </mat-header-cell>
    <mat-cell *matCellDef="let element"><span class="cell-contents"> {{element.paymentTransactionCreatedOn}} </span></mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="paymentSource">
    <mat-header-cell *matHeaderCellDef><mat-icon class="th-icon">monitor</mat-icon> <span class="th-text">Source </span> </mat-header-cell>
    <mat-cell *matCellDef="let element"> <span class="cell-contents"> {{element.paymentSource}} </span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="paymentStatus">
    <mat-header-cell *matHeaderCellDef><mat-icon class="th-icon">traffic</mat-icon> 	<span class="th-text">Status</span>  </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="cell-contents">{{element.paymentStatus}}</span>
    </mat-cell>
  </ng-container>


	<!-- Weight Column -->
	<ng-container matColumnDef="paymentTransactionTotalIncTax">
		<mat-header-cell *matHeaderCellDef><mat-icon class="th-icon">person</mat-icon>  <span class="th-text">Total Inc Tax</span> </mat-header-cell>
		<mat-cell *matCellDef="let element"> <span class="cell-contents">{{element.paymentTransactionTotalIncTax}} </span></mat-cell>
	</ng-container>

<!--  <ng-container matColumnDef="controls">-->
<!--    <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
<!--    <mat-cell *matCellDef="let element">-->
<!--      <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>-->
<!--      <button mat-icon-button class="control"><mat-icon>delete</mat-icon></button>-->
<!--      <div class="dragCursor drag-handle" (mousedown)="dragDisabled = false;">-->
<!--        <mat-icon>reorder</mat-icon>-->
<!--      </div>-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns;"
	(click)="onRowClick(row.paymentIdNo)"
  ></mat-row>
</mat-table>
