<header class="header">
<!--	<button mat-icon-button (click)="doRefresh()" color="primary"><mat-icon>refresh</mat-icon></button>-->
	<app-control-grid-filters [isStandalone]="isStandalone"></app-control-grid-filters>
</header>
<!--<div class="table-container">-->
<!--	<table class="ifm-table" *ngIf="(applicationModelService.currentBreakpoint$ | async) !== 'Small' && (applicationModelService.currentBreakpoint$ | async) !== 'XSmall'">-->
<!--		<thead>-->
<!--		<tr>-->
<!--			<th class="data-created-on">-->
<!--				<div class="cell-inner">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">event</mat-icon><span class="header-text">Created on</span>-->
<!--					<mat-icon class="ifm-icon-medium" >vertical_align_bottom</mat-icon>-->
<!--					&lt;!&ndash;					<mat-icon>upgrade</mat-icon> ascending&ndash;&gt;-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="data-name">-->
<!--				<div class="cell-inner">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">person</mat-icon> <span class="header-text">Surname</span>-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="data-email">-->
<!--				<div class="cell-inner">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">email</mat-icon> <span class="header-text">Email</span>-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="data-source">-->
<!--				<div class="cell-inner">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">monitor</mat-icon><span class="header-text">Source</span>-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="data-source">-->
<!--				<div class="cell-inner">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">pin</mat-icon><span class="header-text">Number</span>-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="data-status">-->
<!--				<div class="cell-inner">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">traffic</mat-icon><span class="header-text">Status</span>-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="data-total-inc-tax">-->
<!--				<div class="cell-inner numeric no-collapse">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">paid</mat-icon> <span class="header-text">Total</span>-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="data-expires">-->
<!--				<div class="cell-inner numeric no-collapse">-->
<!--					<mat-icon class="ifm-icon-medium th-icon">event_busy</mat-icon> <span class="header-text">Expires</span>-->
<!--				</div>-->
<!--			</th>-->
<!--			<th class="control no-collapse">-->
<!--				<div class="cell-inner">-->
<!--					&nbsp;-->
<!--				</div>-->
<!--			</th>-->
<!--		</tr>-->
<!--		</thead>-->
<!--		<tbody>-->
<!--		<tr *ngFor="let item of dataSource,let i = index" (click)="onRowClick(item.paymentIdNo)" class="is-selectable">-->
<!--			<td>-->
<!--				<div class="cell-inner">-->
<!--					<span class="cell-text">{{item.paymentTransactionCreatedOn}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner">-->
<!--					<span class="cell-text">{{item.paymentCustomerForename}} {{item.paymentCustomerSurname}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner">-->
<!--					<span class="cell-text">{{item.paymentCustomerEmail}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner">-->
<!--					<span class="cell-text">{{item.paymentSource}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner">-->
<!--					<span class="cell-text">INV-{{item.paymentTransactionNumber}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner has-icon no-collapse">-->
<!--					<mat-icon class="ifm-icon-medium th-icon" [ngClass]="{'green-text': item.paymentStatusId === 0,'bright-blue-text': item.paymentStatusId === 1,'red-text': item.paymentStatusId === 2}">credit_card</mat-icon><span class="cell-text">{{item.paymentStatus}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner numeric">-->
<!--					<span class="cell-text">{{item.paymentTransactionTotalIncTax | number: '1.2-2'}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner numeric">-->
<!--					<span class="cell-text">{{item.paymentTransactionExpiry}}</span>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td>-->
<!--				<div class="cell-inner control">-->
<!--					<button mat-icon-button [matMenuTriggerFor]="menu" color="primary" (click)="absorb($event)"><mat-icon>more_vert</mat-icon></button>-->
<!--				</div>-->
<!--			</td>-->
<!--		</tr>-->
<!--		</tbody>-->
<!--	</table>-->
<!--	<mat-menu #menu="matMenu">-->
<!--		<button mat-menu-item>Open</button>-->
<!--		<button mat-menu-item>Download</button>-->
<!--		<button mat-menu-item (click)="doCardlessPayment()">Customer Experience</button>-->
<!--		<button mat-menu-item>Refund</button>-->
<!--		<mat-divider></mat-divider>-->
<!--		<button mat-menu-item color="warn">Archive</button>-->
<!--	</mat-menu>-->

<div class="cards-container" *ngIf="(applicationModelService.currentBreakpoint$ | async) === 'Medium' || (applicationModelService.currentBreakpoint$ | async) === 'Small' || (applicationModelService.currentBreakpoint$ | async) === 'XSmall'">
	<mat-card *ngFor="let item of cardDataSource; let i = index" class="card-generic">
		<div class="caption-container">
			<caption class="mat-caption">
				<mat-icon class="ifm-icon-medium th-icon" [ngClass]="{'green-text': item.paymentStatusId === 0,'bright-blue-text': item.paymentStatusId === 1,'red-text': item.paymentStatusId === 2}">credit_card</mat-icon><span class="caption-text">INV - {{item.paymentTransactionNumber}}</span>
			</caption>
		</div>
		<mat-card-content class="card-inner" (click)="onRowClick(item.paymentIdNo, i)">

			<div class="naked-form-field data-number">
				<div class="field-label"><span>Number</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span>INV - {{item.paymentTransactionNumber}}</span>
					</div>
				</div>
			</div>

			<div class="naked-form-field data-created-on">
				<div class="field-label"><span>Created On</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span>{{item.paymentTransactionCreatedOn}}</span>
					</div>
				</div>
			</div>

			<div class="naked-form-field data-customer">
				<div class="field-label"><span>Customer</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span>{{item.paymentCustomerForename}} {{item.paymentCustomerSurname}}</span>
					</div>
				</div>
			</div>

			<div class="naked-form-field data-email">
				<div class="field-label"><span>Email</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span>{{item.paymentCustomerEmail}}</span>
					</div>
				</div>
			</div>

			<div class="naked-form-field data-source">
				<div class="field-label"><span>Source</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span>{{item.paymentSource}}</span>
					</div>
				</div>
			</div>



			<div class="naked-form-field data-status">
				<div class="field-label"><span>Status</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span>{{item.paymentStatus}}</span>
					</div>
				</div>
			</div>



			<div class="naked-form-field data-expiry">
				<div class="field-label"><span>Expiry</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span>{{item.paymentTransactionExpiry}}</span>
					</div>
				</div>
			</div>

			<div class="naked-form-field data-total">
				<div class="field-label"><span>Total</span></div>
				<div class="field-outline">
					<div class="field-contents">
						<span class="mat-headline-4">{{item.paymentTransactionTotalIncTax | number: '1.2-2'}}</span>
					</div>
				</div>
			</div>


		</mat-card-content>
	</mat-card>
</div>

<table mat-table
   class="ifm-table"
  [dataSource]="dataSource"
	matSort
	   id="table"
	   #table
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
   *ngIf="(applicationModelService.currentBreakpoint$ | async) !== 'Medium' && (applicationModelService.currentBreakpoint$ | async) !== 'Small' && (applicationModelService.currentBreakpoint$ | async) !== 'XSmall'"
>
	<ng-container matColumnDef="paymentTransactionCreatedOn" >
		<th class="data-created-on"
			mat-header-cell
			mat-sort-header
			cdkDrag
			*matHeaderCellDef>
			<div class="cell-inner no-collapse">
				<mat-icon class="ifm-icon-medium th-icon">event</mat-icon>
				<span class="header-text">Created On</span>
			</div>

		</th>
		<td mat-cell *matCellDef="let element">
			<div class="cell-inner">
				<span class="cell-text "> {{element.paymentTransactionCreatedOn}} </span>
			</div>
		</td>
	</ng-container>

  <ng-container matColumnDef="paymentCustomerSurname" sticky>
    <th class="data-name" mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef>
		<div class="cell-inner">
			<mat-icon>person</mat-icon>
			<span class="header-text">Surname</span>
		</div>
	</th>
    <td mat-cell *matCellDef="let element">
		<div class="cell-inner">
			<span class="cell-text ">{{element.paymentCustomerSurname}}</span>
		</div>
    </td>
  </ng-container>

	<ng-container matColumnDef="paymentCustomerEmail" sticky>
		<th class="data-email" mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef>
			<div class="cell-inner">
				<mat-icon>email</mat-icon> <span class="header-text">Email</span>
			</div>
		</th>
		<td mat-cell *matCellDef="let element">
			<div class="cell-inner">
				<span class="cell-text ">{{element.paymentCustomerEmail}}</span>
			</div>
		</td>
	</ng-container>

  <ng-container matColumnDef="paymentSource">
    <th class="data-source" mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef>
		<div class="cell-inner">
			<mat-icon class="ifm-icon-medium th-icon">monitor</mat-icon>
			<span class="header-text">Source</span>
		</div>
	</th>
    <td mat-cell *matCellDef="let element">
		<div class="cell-inner">
			<span class="cell-text "> {{element.paymentSource}} </span>
		</div>
	</td>
  </ng-container>

	<ng-container matColumnDef="paymentTransactionNumber">
		<th class="data-source" mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef>
			<div class="cell-inner">
				<mat-icon class="ifm-icon-medium th-icon">pin</mat-icon>
				<span class="header-text">Ref.</span>
			</div>
		</th>
		<td mat-cell *matCellDef="let element">
			<div class="cell-inner">
				<span class="cell-text "> {{element.paymentTransactionNumber}} </span>
			</div>
		</td>
	</ng-container>



  <ng-container matColumnDef="paymentStatus">
    <th mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef>
		<div class="cell-inner ">
			<mat-icon class="ifm-icon-medium th-icon">traffic</mat-icon>
			<span class="header-text">Status</span>
		</div>
	</th>
    <td mat-cell *matCellDef="let element">
		<div class="cell-inner has-icon no-collapse">
			<mat-icon class="ifm-icon-medium th-icon" [ngClass]="{'green-text': element.paymentStatusId === 0,'bright-blue-text': element.paymentStatusId === 1,'red-text': element.paymentStatusId === 2}">credit_card</mat-icon><span class="cell-text ">{{element.paymentStatus}}</span>
		</div>
    </td>
  </ng-container>


	<ng-container matColumnDef="paymentTransactionTotalIncTax">
		<th mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef>
			<div class="cell-inner no-collapse">
				<mat-icon class="ifm-icon-medium th-icon">person</mat-icon>
				<span class="header-text">Total</span>
			</div>
		</th>
		<td mat-cell *matCellDef="let element">
			<div class="cell-inner no-collapse numeric">
				<span class="cell-text ">{{element.paymentTransactionTotalIncTax | number: '1.2-2'}} </span>
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="paymentTransactionExpiry">
		<th mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef>
			<div class="cell-inner no-collapse">
				<mat-icon class="ifm-icon-medium th-icon">event_busy</mat-icon>
				<span class="header-text">Expiry</span>
			</div>
		</th>
		<td mat-cell *matCellDef="let element">
			<div class="cell-inner no-collapse">
				<span class="cell-text ">{{element.paymentTransactionExpiry}} </span>
			</div>
		</td>
	</ng-container>


  <ng-container matColumnDef="controls">
    <th mat-header-cell *matHeaderCellDef>
		<div class="cell-inner no-collapse">&nbsp;</div>
	</th>
    <td mat-cell *matCellDef="let element">
		<button mat-icon-button [matMenuTriggerFor]="menu" color="primary" (click)="absorb($event)"><mat-icon>more_vert</mat-icon></button>
    </td>
	  	<mat-menu #menu="matMenu">
	  		<button mat-menu-item>Open</button>
	  		<button mat-menu-item>Download</button>
	  		<button mat-menu-item (click)="doCardlessPayment()">Customer Experience</button>
	  		<button mat-menu-item>Refund</button>
	  		<mat-divider></mat-divider>
	  		<button mat-menu-item color="warn">Archive</button>
	  	</mat-menu>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row
    *matRowDef="let row;let i = index; columns: displayedColumns;"
	(click)="onRowClick(row.paymentIdNo, i)"
  ></tr>
</table>
