@use "src/sass/themes/palette-constants" as palette;

table {
  width: 100%;
}

mat-header-row {
  background-color: palette.$white;
  position: relative;
  z-index: 99;
  box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.12);
  min-height: 40px;
  mat-header-cell {
    padding: 6px;
    font-weight: normal;
  }
}

mat-row {
  min-height: 0;
  height: auto;
  mat-cell {
    padding: 0;
    align-items: flex-start;
    .cell-contents {
      margin: 12px 6px;
    }
  }
}

.th-text {
  margin: 0 12px;
}

.mat-column-type {
  flex-basis: 12%;
}
.mat-column-operation {
  flex-basis: 27%;
}
.mat-column-applicableTo {
  flex-basis: 28%;
}
.mat-column-modifiedOn {
  flex-basis: 14%;
}
.mat-column-modifiedBy {
  flex-basis: 14%;
}

.mat-column-controls {
  flex-basis: 165px;
  flex-wrap: nowrap;
  padding: 0;
  justify-content: space-between;
}

.mat-mdc-row.cdk-drag.cdk-drag-preview {
  mat-row {
    min-height: 0;
    height: auto;
    mat-cell {
      padding: 0 6px;
      align-items: flex-start;
      .cell-contents {
        margin: 6px;
      }
    }
  }
  mat-header-cell {
    padding: 6px;
  }
}


.cards-container {
  padding: 12px;
  .card-generic{
    margin-bottom: 12px;
    padding-top: 6px;
    border: 1px solid palette.$medium-grey;
    box-shadow: 0px 3px 1px -2px rgba(204, 204, 204, 0.16), 0px 2px 2px 0px rgba(204, 204, 204, 0.112), 0px 1px 5px 0px rgba(204, 204, 204, 0.096);
    &:hover {
      box-shadow: 0px 2px 4px -1px rgb(0 -9 0 / 8%), 0px 4px 5px 0px rgb(0 0 0 / 8%), 0px 1px 10px 0px rgb(0 0 0 / 8%);
      cursor: pointer;
      mat-icon {
        color: palette.$primary
      }
    }
    .card-inner {
      display: flex;
      flex-wrap: wrap;
      padding: 0 6px;
      &.is-deleted {
        text-decoration: line-through;
      }
      .naked-form-field {
        padding: 6px 6px 6px 6px;
      }
    }
    .naked-form-field {
      padding: 0;
      border-bottom: 1px dashed palette.$light-grey;
      &.no-bottom-border {
        border-bottom: 0;
      }
      &.data-type {
        flex-basis: 20%;
      }
      &.data-operation {
        flex-basis: 80%;
      }
      &.data-applicable-to {
        flex-basis: 100%;
      }
      &.data-modified-on {
        flex-basis: 40%;
      }
      &.data-modified-by {
        flex-basis: 40%;
      }

    }
    .controls {
      flex-basis: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .link-control {
        display: flex;
        flex-grow: 1;
      }

    }
  }
}



