<div class="canvas-outer comms">
	<div class="caption-container">
		<caption class="mat-caption">
			<span>Templates</span>
		</caption>
	</div>

	<div class="canvas comms mat-elevation-custom-z1">
		<div class="editor">
			<mat-tab-group mat-stretch-tabs="false" class="ifm-tabs-sub-main-ui" [selectedIndex]="0" (selectedTabChange)="onTabSelected($event)">

				<mat-tab label="First">
					<ng-template mat-tab-label>
						<span class="tab-label">
							<mat-icon class="tab-icon">email</mat-icon>
						<span class="tab-label-text">Email</span></span>
					</ng-template>
					<div class="tab-inner email">
						<div class="controls mat-elevation-custom-z1" *ngIf="paymentStatusId === 5 || paymentStatusId === 1 || paymentStatusId === 2">
							<div class="field-outer data-template-select compact">
								<mat-form-field class="ifm-input" appearance="outline" subscriptSizing="dynamic">
									<mat-label for="templateSelector">Change Template</mat-label>
									<mat-select [(value)]="selectedTemplate" name="templateSelector" (selectionChange)="doSelectTemplate(selectedTemplate)">
										<mat-option  [value]="template.templateID" *ngFor="let template of dataSource, let i = index"><span class="option-label">{{ template.templateName }}</span></mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="field-outer data-email-subject">
								<div class="naked-form-field data-email">
									<div class="field-label"><span>Subject Line</span></div>
									<div class="field-outline">
										<div class="field-contents">
											<span
													class="section-content"
													contenteditable="true"
													[innerHTML]="doReplaceKeysWithData() | safeHtml">
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="control-container">
							<button mat-icon-button color="primary" (click)="doFullScreen($event)"><mat-icon>open_in_full</mat-icon></button>
						</div>
						<app-control-template-viewer class="viewer" [templateIDToUse]="selectedTemplate"></app-control-template-viewer>
					</div>
				</mat-tab>

				<mat-tab label="Second">
					<ng-template mat-tab-label>
						<span class="tab-label">
							<mat-icon class="tab-icon">phone_iphone</mat-icon>
						<span class="tab-label-text">SMS</span></span>
					</ng-template>
					<div class="tab-inner">
						<app-control-editable-sms-template
								[customerName]="customerName"
								[paymentTransactionExpiry]="paymentTransactionExpiry"
								[invoiceAmmount]="invoiceAmmount"
								[paymentTransactionNumber]="paymentTransactionNumber"></app-control-editable-sms-template>
					</div>
				</mat-tab>

			</mat-tab-group>


		</div>
		<div class="footer">
			<div class="field-outer data-checkboxes" *ngIf="paymentStatusId === 5">
				<span>Send using - </span>
				<mat-checkbox [(ngModel)]="isEMailChecked" (click)="doCheckBoxStatus(0, $event)">Email</mat-checkbox>
				<mat-checkbox [(ngModel)]="isSMSChecked" (click)="doCheckBoxStatus(1, $event)">SMS</mat-checkbox>
			</div>
			<div class="field-outer data-checkboxes" *ngIf="paymentStatusId !== 5">
				<span>Sent on the 05/02/3021 @ 12.80xm</span>
				<mat-checkbox [(ngModel)]="isEMailChecked" [disabled]="paymentStatusId === 0">Email</mat-checkbox>
				<mat-checkbox [(ngModel)]="isSMSChecked" [disabled]="paymentStatusId === 0">SMS</mat-checkbox>
			</div>
		</div>

	</div>

</div>