@use "src/sass/themes/palette-constants" as palette;

.ifm-tabs-main-ui {
  height: 100%;
  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
  .mat-mdc-tab-header {
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.37);
    z-index: 99;
  }
  .mat-mdc-tab-labels {
    background-color: palette.$dark-blue;
    .tab-label {
      display: flex;
      align-items: center;
      .tab-icon {
        color: palette.$white;
      }
      .tab-label-text {
        margin: 0 12px;
        color: palette.$white;
      }
    }
  }

  .mat-mdc-tab {
    .tab-label {
      opacity: .84
    }
    &.mdc-tab--active {
      background-color: lighten(palette.$dark-blue,2);
      border-left: 1px solid rgba(255,255,255,.12);
      border-right: 1px solid rgba(255,255,255,.12);
      .mdc-tab-indicator {
        .mdc-tab-indicator__content--underline {
          border-color: palette.$white;
          border-width: 4px;
        }
      }
      .tab-label {
        opacity: 1;
      }
    }
  }
}

.ifm-tabs {
  height: 100%;
  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
  .mat-mdc-tab-header {
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.1);
    z-index: 99;
  }
  .mat-mdc-tab-labels {
    .tab-label {
      display: flex;
      align-items: center;
      .tab-icon {
      }
      .tab-label-text {
        margin: 0 12px;
      }
    }
  }
}

