<header class="header">
	<div class="header-title">
		<app-control-provider-select [isShowLabel]="false" [isSettings]="true" class="provider-select"></app-control-provider-select>
<!--		<h1 class="title-text mat-headline-2">Payment Settings</h1>-->

	</div>
	<div class="control">
		<button mat-icon-button color="primary" (click)="doClose()"><mat-icon>close</mat-icon></button>
	</div>
</header>
<main class="main">
	<mat-tab-group mat-stretch-tabs="false" class="ifm-tabs" [selectedIndex]="(applicationModelService.activeSettingsUITab$ | async)" (selectedTabChange)="onTabSelected($event)">
		<mat-tab label="General Settings">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">language</mat-icon>
				<span class="tab-label-text">General Settings</span></span>
			</ng-template>
			<div class="tab-inner">
				<br />
				<span>General Settings go here</span><br /><br />
				<span>API Key</span><br /><br />
				<span>Currency </span><br /><br />
				<span>Merchant ID's</span><br /><br />
				<span>Permissions</span><br /><br />
				<span>Credit Card processing fee %</span><br /><br />
				<span>Logos a go go's</span><br /><br />

			</div>
		</mat-tab>
<!--		<mat-tab label="Rich Text Tepmlates">-->
<!--			<ng-template mat-tab-label>-->
<!--			<span class="tab-label">-->
<!--				<mat-icon class="tab-icon">receipt</mat-icon>-->
<!--				<span class="tab-label-text">Invoice Tepmlates</span></span>-->
<!--			</ng-template>-->
<!--			<div class="tab-inner">-->
<!--				<span>Invoice Template stuff goes here</span>-->
<!--			</div>-->
<!--		</mat-tab>-->
		<mat-tab label="Email Templates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">email</mat-icon>
				<span class="tab-label-text">Email Templates</span></span>
			</ng-template>
			<div class="tab-inner email-template">
<!--				<app-view-email-templates></app-view-email-templates>-->
				<app-control-editable-email-template></app-control-editable-email-template>
			</div>
		</mat-tab>
		<mat-tab label="SMS Templates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">phone_iphone</mat-icon>
				<span class="tab-label-text">SMS Templates</span></span>
			</ng-template>
			<div class="tab-inner">
				<app-control-editable-sms-template></app-control-editable-sms-template>
			</div>
		</mat-tab>
		<mat-tab label="Rich Text Teplates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">chat</mat-icon>
				<span class="tab-label-text">Disclaimers and Legal</span></span>
			</ng-template>
			<div class="tab-inner">
				<span>Triage</span>
				<p>Superservice Triage does not store or process financial information. The Triage Customer Authorisation screen has the PayPal site within an Iframe and everything inside of that is secure. Triage cannot see any data that is being transacted due to the PayPal encryption being used.</p>
				<p>Some additional options such as Payflow Link may need to be configured in the merchants account however the merchant (dealer) will need to investigate this as part of their due diligence. Additional fees may be charged to the dealer by PayPal for a business account.</p>
				<p>Superservice Triage or Infomedia is not responsible for payment issues between the customer and PayPal.</p>
			</div>
		</mat-tab>
		<mat-tab label="Rich Text Teplates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">rocket_launch</mat-icon>
				<span class="tab-label-text">Prototype</span></span>
			</ng-template>
			<div class="tab-inner">
				<div class="field-outer data-is-view-attachments">
					<mat-slide-toggle [checked]='(applicationModelService.isShow2WayMenu$ | async)' (change)="doToggleTwoWayMenu()">Show 2 Way Menu</mat-slide-toggle>
				</div>
				<div class="field-outer data-is-view-attachments">
					<mat-slide-toggle [checked]='(applicationModelService.isShowDashboard$ | async)' (change)="doToggleDashboardTab()">Show Dashboard Tab</mat-slide-toggle>
				</div>
			</div>
		</mat-tab>

	</mat-tab-group>
</main>