@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: palette.$very-light-grey;
  .header-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 6px 12px;
    .title-text {
      margin: 0 12px;
    }
  }
}

.main {
  display: flex;
  height: 100%;
  .tab-inner {
    padding: 12px;
    display: flex;
    height: 100%;
    &.email-template {
      padding-top: 18px;
    }
    .field-outer {
      margin-bottom: 12px
    }
  }
}