<header class="header">
	<div class="header-title">
		<h1 class="title-text mat-headline-2">Payment Settings</h1>
	</div>
	<div class="control">
		<button mat-icon-button color="primary" (click)="doClose()"><mat-icon>close</mat-icon></button>
	</div>
</header>
<main class="main">
	<mat-tab-group mat-stretch-tabs="false" class="ifm-tabs" [selectedIndex]="(applicationModelService.activeSettingsUITab$ | async)" (selectedTabChange)="onTabSelected($event)">
		<mat-tab label="General Settings">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">language</mat-icon>
				<span class="tab-label-text">General Settings</span></span>
			</ng-template>
			<div class="tab-inner">
				<span>General Settings go here</span>
			</div>
		</mat-tab>
		<mat-tab label="Email Templates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">email</mat-icon>
				<span class="tab-label-text">Email Templates</span></span>
			</ng-template>
			<div class="tab-inner email-template">
				<div><span class="mat-headline-4">Your Invoice from Future Motors Ltd (BES-29367)</span></div>
				<div><span class="mat-headline-2">$221.95</span></div>
				<div><span class="mat-headline-4">INV-6209 is due on 31/10/2048</span></div>

				<div><button mat-flat-button color="primary">Pay Invoice</button></div>

				<div class="editable-message-body">

					<p contenteditable="true">Hi Martin,<br/><br/> Here's your tax invoice INV-6209 for $221.95 for work completed at 7 Philip K. Dick Drive, Mars.<br/>

						Please click the Pay Invoice button above to view, print, download or pay the invoice.<br/>

						If you have any questions, please contact us on the interdimentional telephone - Mars99.<br />
						<br />
						Thanks</p>


					<div><span></span></div></div>

				<div><span>Future Motors Ltd</span></div>
			</div>


		</mat-tab>
		<mat-tab label="SMS Templates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">phone_iphone</mat-icon>
				<span class="tab-label-text">SMS Templates</span></span>
			</ng-template>
			<div class="tab-inner">
				<span>SMS Templates Settings go here</span>
			</div>
		</mat-tab>
		<mat-tab label="Rich Text Teplates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">chat</mat-icon>
				<span class="tab-label-text">Rich Text Teplates</span></span>
			</ng-template>
			<div class="tab-inner">
				<span>Rich Text Teplate Settings go here</span>
			</div>
		</mat-tab>
		<mat-tab label="Rich Text Teplates">
			<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">chat</mat-icon>
				<span class="tab-label-text">Disclaimers and Legal</span></span>
			</ng-template>
			<div class="tab-inner">
				<span>Disclaimers and Legal Settings go here</span>
			</div>
		</mat-tab>
	</mat-tab-group>
</main>