<div class="payment-index-inner">
  <button mat-flat-button color="primary" (click)="doDialogAppData(true, false)">Dealer dialog WITH data</button>
  <button mat-flat-button (click)="doGoCustomer()" color="primary" >Customer Form</button>
  <button mat-flat-button color="primary" (click)="doDialogWithData(true, true)">Dealer dialog WITH data</button>
  <button mat-flat-button color="primary" (click)="doDialogWithData(false, true)">Dealer dialog WITHOUT data</button>
  <mat-divider></mat-divider>
  <button mat-flat-button color="primary" (click)="doDialogWithData(true, false)">Dealer dialog WITH data No Address</button>
  <button mat-flat-button color="primary" (click)="doDialogWithData(false, false)">Dealer dialog WITHOUT data No Address</button>
</div>

