@use "src/sass/themes/palette-constants" as palette;


button {
  &.white-border {
    background-color: palette.$white;
  }
  &.light-outline {
    --mdc-outlined-button-outline-color:  rgba(255,255,255,.4);
  }
  &.ifm-stroked-button {
    --mdc-outlined-button-outline-color:  #ccc;
    background-color: white;
    &.primary-outline {
      --mdc-outlined-button-outline-color:  #105fa8;
    }
    &.light-outline {
      --mdc-outlined-button-outline-color:  rgba(255,255,255,.4);
    }
  }

  .mat-mdc-unelevated-button:not(:disabled) {
    &.blue {
      background-color: palette.$primary-blue;
      color: palette.$white;
    }
    &.red {
      background-color: palette.$red;
      color: palette.$white;
    }
    &.green {
      background-color: palette.$green;
      color: palette.$white;
    }
    &.black {
      background-color: palette.$black;
      color: palette.$white;
    }
    &.white {
      background-color: palette.$very-light-grey;
    }
  }

}

