.no-hint {

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.white-bg {
  .mat-mdc-text-field-wrapper {
    background-color: white;
  }
}

.no-ripple-line {
  .mdc-line-ripple::before {
    border-bottom-width: 0;
  }
}
.option-inner {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: visible;
  min-height: 24px;
}

.has-checkbox {
  .mat-mdc-option {
    padding: 0 6px;
  }
}


// Until the density setting actually works this is the only way to adjust the height of a select
// without adjusting font size of it's container, which is stupid.
.compact {
  .mat-mdc-text-field-wrapper {
    height: 38px;
    &.mdc-text-field--outlined {
      .mat-mdc-form-field-infix {
        padding-top: 8px;
        padding-bottom: 8px;
        min-height: 32px;
      }
    }
  }
}
