<div class="editable-message-body">

	<p >Hi {{customerName}},<br/><br/> <span contenteditable="true">Here's your tax invoice INV-6209 for ${{invoiceAmmount | number: '1.2-2' }} for work completed at 7 Philip K. Dick Drive, Mars.<br/>
		<br/>
		Please click the link below to view, print, download or pay the invoice.<br/>
<br/>
		<a href="#">https://tinyurl/payment</a>
		<br/><br/>
		If you have any questions, please contact us on the interdimentional telephone - Mars99.<br />
		<br />
		Thanks</span></p>


	<div><span></span></div></div>

<div><span>Future Motors Ltd</span></div>