@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.tab-label-text {
  flex-grow: 1;
}

.tab-inner {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.close-control {
  color: palette.$white;
}
