<mat-tab-group mat-stretch-tabs="false" class="ifm-tabs-main-ui add-ops-tabs" [selectedIndex]="(applicationModelService.activeMainUITab$ | async)" (selectedTabChange)="onTabSelected($event)">
	<mat-tab label="Index">
		<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">list</mat-icon>
				<span class="tab-label-text">Index</span></span>
		</ng-template>
		<div class="tab-inner">
			<app-table-payment-list></app-table-payment-list>
		</div>
	</mat-tab>

	<mat-tab label="Index">
		<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">add_outline</mat-icon>
				<span class="tab-label-text">New Payment</span></span>
			<button [matMenuTriggerFor]="quickMenu" (click)="absorb($event)"mat-icon-button class="white-text"><mat-icon>arrow_drop_down</mat-icon></button>
			<mat-menu #quickMenu="matMenu">
				<button mat-menu-item
						*ngFor="let source of invoiceSource"
						(click)="doLoadSourceData(source.ifmAppsID)"
						[disabled]="(applicationModelService.activeMainUITab$ | async) === 1">{{source.ifmAppsName}}</button>
			</mat-menu>
		</ng-template>
		<div class="tab-inner">
			<app-form-new-payment [dataItemIndexNo]=(-1)></app-form-new-payment>
		</div>
	</mat-tab>

	<mat-tab *ngFor="let tab of tabs; let index = index">
		<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon class="tab-icon">credit_card</mat-icon>
				<span class="tab-label-text">{{tab.tabLabel}}</span></span>
				<button mat-icon-button (click)="doCloseTab(index)"><mat-icon class="close-control">close</mat-icon></button>
		</ng-template>
		<div class="tab-inner">
			<app-form-new-payment [tabContentType]="'payment'" [dataItemIndexNo]=(tab.tabdataItemIndexNo)></app-form-new-payment>
		</div>
	</mat-tab>
<!--	<mat-tab label="Form">-->
<!--		<ng-template mat-tab-label>-->
<!--			<span class="tab-label"><span class="tab-label-text">New Payment</span></span>-->
<!--		</ng-template>-->
<!--		<div class="tab-inner">-->

<!--			<app-form-new-payment></app-form-new-payment>-->

<!--		</div>-->
<!--	</mat-tab>-->
</mat-tab-group>