<div class="chip-filter-outer">
	<div class="chip-list">
		<mat-chip  *ngFor="let filter of filters" class="filter-item">
		<div class="chip-inner">
			<span class="chip-text">{{filter.gridFilterItemName}}</span><mat-icon (click)="doRemoveChip(filter.gridFilterItemID)" *ngIf="filter.gridFilterItemID !== 0" class="ifm-icon-medium chip-icon">close</mat-icon>
		</div>
		</mat-chip>
	</div>
	<button [matMenuTriggerFor]="menu" mat-icon-button color="primary"><mat-icon>arrow_drop_down</mat-icon></button>
</div>
<mat-menu #menu="matMenu" xPosition="before">
	<button mat-menu-item (click)="onAddFilterChip(0,'All')">All</button>
	<button mat-menu-item (click)="onAddFilterChip(1,'In Progress')">Pending</button>
	<button mat-menu-item (click)="onAddFilterChip(2,'Overdue')">Overdue</button>
	<button mat-menu-item (click)="onAddFilterChip(3,'Paid In Full')">Paid In Full</button>
</mat-menu>