<div class="chip-filter-outer" *ngIf="!(applicationModelService.isUseSimpleTextFilters$ | async)" [matMenuTriggerFor]="menu">
  <div class="caption-container">
    <caption class="mat-caption">Payment Status</caption>
  </div>
	<div class="chip-list">
		<mat-chip  *ngFor="let filter of filters" class="filter-item">
		<div class="chip-inner">
			<span class="chip-text">{{filter.statusFilterItemName}}</span><mat-icon (click)="doRemoveChip($event, filter.statusFilterItemID)" *ngIf="filter.statusFilterItemID !== 0" class="ifm-icon-medium chip-icon">close</mat-icon>
		</div>
		</mat-chip>
	</div>
	<button  mat-icon-button color="primary" [ngClass]="{'white-text': (applicationModelService.activeHeader$ | async) !== '-1'}"><mat-icon>arrow_drop_down</mat-icon></button>
</div>
<mat-menu #menu="matMenu" xPosition="before">
	<button mat-menu-item (click)="onAddFilterChip(0,'All')">All</button>
	<button mat-menu-item (click)="onAddFilterChip(1,'Pending')">Pending</button>
	<button mat-menu-item (click)="onAddFilterChip(2,'Overdue')">Overdue</button>
	<button mat-menu-item (click)="onAddFilterChip(3,'Paid In Full')">Paid In Full</button>
</mat-menu>

<div class="filter-list" *ngIf="(applicationModelService.isUseSimpleTextFilters$ | async)">
	<div class="filter-item">
		<span class="filter-item-text">
			All (27)
		</span>
	</div>
	<div class="filter-item">
		<span class="filter-item-text">
			Pending (20)
		</span>
	</div>
	<div class="filter-item">
		<span class="filter-item-text">
			Overdue (1)
		</span>
	</div>
	<div class="filter-item">
		<span class="filter-item-text">
			Paid In Full (6)
		</span>
	</div>
	<div class="filter-item">
		<span class="filter-item-text">
			Cancelled (0)
		</span>
	</div>
</div>
