@use "src/sass/themes/palette-constants" as palette;

.ifm-table {
  width: 100%;

  thead {
    height: 40px;
    tr {
      background-color: palette.$very-light-grey;
      th {
        font-weight: 400;
        padding: 6px;
        text-align: left;
        color: palette.$very-dark-grey
      }
    }
  }
  tbody {
    tr {
      background-color: palette.$white;
      height: 40px;
      td {
        border-bottom: 1px solid palette.$medium-light-grey;
      }
    }
  }
  tfoot {

  }
}

.mat-mdc-row {
  &:hover {
    cursor: pointer;
  }
}