@use "src/sass/themes/palette-constants" as palette;

.cdk-drag-preview {
  background-color: palette.$white;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 20px -8px rgba(0, 0, 0, 0.1);
  .cell-inner {
    display: flex;
    align-items: center;
    //padding: 6px;
    &.no-collapse {
      flex-wrap: nowrap;
      .header-text {
        white-space: nowrap;
      }
    }
    .header-text {
      margin: 0 6px;
      flex-grow: 1;
    }
  }
}

.editor-drag {
  &.cdk-drag-preview {
    background-color: palette.$white;
    display: flex;
    box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.1);
    border: 1px dotted palette.$medium-grey;
    .section-body {
      flex-grow: 1;
      padding: 12px;
      .section-content {
        margin: 0;
      }
      .logo {
        max-width: 280px;
      }
    }
    .section-controls {

    }
  }
}


.ifm-table {
  width: 100%;
  border-collapse: separate;
  border-width: 0;
  border-spacing: 0;
  border-color: white;
  thead {
    height: 48px;
    tr {
      background-color: palette.$white;
      th {
        font-weight: 400;
        text-align: left;
        background-color: palette.$white;
        color: palette.$very-dark-grey;
        border-bottom: 1px solid palette.$medium-grey;
        box-shadow: 0px 4px 20px -8px rgba(0, 0, 0, 0.1);
        position: sticky;
        padding: 0 12px;
        top: 0;
        z-index: 999;
        border-left: 1px solid $medium-grey;
        &:first-child {
          border-left:1px solid $white;
          border-top-left-radius: 6px;
        }
        &:last-child {
          border-right:1px solid $white;
          border-top-right-radius: 6px;
        }
        .drag-handle {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 8px;
          background-color: palette.$dark-blue;
          z-index: 9999;
          cursor: ew-resize;
        }
        .cell-inner {
          display: flex;
          align-items: center;
          //padding: 6px;
          &.no-collapse {
            flex-wrap: nowrap;
            .header-text {
              white-space: nowrap;
            }
          }
          .header-text {
            margin: 0 6px;
            flex-grow: 1;
          }
        }
      }
    }
  }
  tbody {
    tr {
      position: relative;
      &:first-child {
        box-shadow: inset 0px 3px 8px -4px rgba(0,0,0,0.2);
      }
      background-color: palette.$white;
      height: 40px;
      &.is-selectable {
        &:hover {
          cursor: pointer;
          background-color: palette.$very-light-grey;
        }
      }
      td {
        border: 1px solid palette.$white;
        padding: 0 12px;
        .cell-inner {
          display: flex;
          //padding: 6px;
          &.no-collapse {
            flex-wrap: nowrap;
            .cell-text {
              white-space: nowrap;
            }
          }
          &.control {
            padding-top: 0;
            padding-bottom: 0;
          }
          &.has-icon {
            align-items: center;
            .cell-text {
              margin: 0 6px;
            }
          }
        }
        border-bottom: 1px solid palette.$medium-light-grey;
      }
    }
  }
  tfoot {

  }

  .numeric {
    justify-content: flex-end;
  }
}

.mat-mdc-row {
  &:hover {
    cursor: pointer;
  }
}
