<main class="main">
	<div class="side-panel">

		<div class="field-outer data-payment-type" *ngIf="dataItemIndexNo === -1 && (applicationModelService.isShow2WayMenu$ | async)">
			<mat-form-field class="field ifm-input selector compact" subscriptSizing="dynamic" floatLabel="always" appearance="outline">
				<mat-label>Change Source</mat-label>
				<mat-select [(value)]="selectedSauceID" (selectionChange)="onSelectedSourceChange(selectedSauceID)">
					<mat-option  [value]="app.ifmAppsID" *ngFor="let app of sourceApp">{{ app.ifmAppsName }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>



		<div class="invoice-status">
			<mat-icon class="ifm-icon-medium th-icon" [ngClass]="{'green-text': paymentStatusId === 0,'bright-blue-text': paymentStatusId === 1,'red-text': paymentStatusId === 2}">credit_card</mat-icon>
			<span class="status-text mat-headline-2">{{paymentStatus}}</span>
			<div class="refNumber">
				<span class="mat-headline-4 refNumber-text">INV:{{paymentTransactionNumber}}</span>
			</div>
		</div>
		<app-control-provider-select class="provider-select" *ngIf="paymentStatusId === 5"></app-control-provider-select>
		<div class="invoice-meta-data" *ngIf="dataItemIndexNo !== -1">
			<div class="field-outer data-customer-search">
				<div class="naked-form-field data-email">
					<div class="field-label"><span>Provider</span></div>
					<div class="field-outline">
						<div class="field-contents">
							<span *ngIf="paymentTransactionProviderId === 0">Tillpay</span>
						</div>
					</div>
				</div>
			</div>

			<div class="field-outer data-customer-search">
				<div class="naked-form-field data-email">
					<div class="field-label"><span>Source</span></div>
					<div class="field-outline">
						<div class="field-contents">
							<span>{{paymentSource}}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="field-outer data-customer-search">
				<div class="naked-form-field data-created-on">
					<div class="field-label"><span>Date Created</span></div>
					<div class="field-outline">
						<div class="field-contents">
							<span>{{paymentTransactionCreatedOn}}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="field-outer data-vehicle-model">
				<div class="naked-form-field data-email">
					<div class="field-label"><span>Vehicle Model</span></div>
					<div class="field-outline">
						<div class="field-contents">
							<span>Space Car 4000 - 4sField-100</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="field-outer">
			<mat-form-field  class="ifm-input" [(ngModel)]="paymentInvoiceLines" floatLabel="always" subscriptSizing="dynamic">
				<mat-label>Summary</mat-label>
				<textarea matInput
						  cdkTextareaAutosize
						  #autosize="cdkTextareaAutosize"
						  [(ngModel)]="paymentInvoiceLines"
						  cdkAutosizeMinRows="1"
						  cdkAutosizeMaxRows="15"
						  (blur)="onBlurTouchViewer($event)"></textarea>
			</mat-form-field>
		</div>
		<div class="two-fields">
			<div class="field-outer data-ammount-payable">
				<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
					<mat-label>Ammount Payable</mat-label>
					<input type="number" matInput placeholder="Total" [(ngModel)]="paymentTransactionTotalIncTax" (blur)="onBlurTouchViewer($event)">
				</mat-form-field>
			</div>
			<div class="field-outer data-expiry">
				<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
					<mat-label>Expiry Date</mat-label>
					<input type="text" matInput placeholder="Contact Number" [(ngModel)]="paymentTransactionExpiry"  (blur)="onBlurTouchViewer($event)">
				</mat-form-field>
			</div>
		</div>

		<div class="field-outer data-customer-forename">
			<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
				<mat-label>Customer ForeName(s)</mat-label>
				<input type="text" matInput placeholder="Forename" [(ngModel)]="paymentCustomerForename" (blur)="onBlurTouchViewer($event)">
			</mat-form-field>
		</div>

		<div class="field-outer data-customer-surname">
			<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
				<mat-label>Customer Surname</mat-label>
				<input type="text" matInput placeholder="Surname" [(ngModel)]="paymentCustomerSurname" (blur)="onBlurTouchViewer($event)">
			</mat-form-field>
		</div>

		<div class="field-outer data-customer-email">
			<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
				<mat-label>Email Address</mat-label>
				<input type="text" matInput placeholder="Email Address" [(ngModel)]="paymentCustomerEmail" (blur)="onBlurTouchViewer($event)">
			</mat-form-field>
		</div>

		<div class="field-outer data-customer-email">
			<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
				<mat-label>Contact Number</mat-label>
				<input type="text" matInput placeholder="Contact Number" [(ngModel)]="paymentCustomerTelNo" (blur)="onBlurTouchViewer($event)">
			</mat-form-field>
		</div>

		<div class="field-outer data-is-has-address">
			<mat-slide-toggle [checked]='isHasAddress' (change)="doToggleAddress()">Show Address</mat-slide-toggle>
		</div>



		<div class="address-fields" *ngIf="isHasAddress">
			<div class="field-outer data-customer-address1">
				<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
					<mat-label>Address 1</mat-label>
					<input type="text" matInput placeholder="Address 1" [(ngModel)]="paymentAddress1">
				</mat-form-field>
			</div>
			<div class="field-outer data-customer-address2">
				<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
					<mat-label>Address 2</mat-label>
					<input type="text" matInput placeholder="Address 2" [(ngModel)]="paymentAddress2">
				</mat-form-field>
			</div>
			<div class="field-outer data-customer-address3">
				<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
					<mat-label>Address 3</mat-label>
					<input type="text" matInput placeholder="Address 2" [(ngModel)]="paymentAddress3">
				</mat-form-field>
			</div>
			<div class="field-outer data-customer-state">
				<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
					<mat-label>State</mat-label>
					<input type="text" matInput placeholder="Address 2" [(ngModel)]="paymentState">
				</mat-form-field>
			</div>
			<div class="field-outer data-customer-state">
				<mat-form-field class="ifm-input" subscriptSizing="dynamic" floatLabel="always">
					<mat-label>Post Code</mat-label>
					<input type="text" matInput placeholder="Post Code" [(ngModel)]="paymentPostCode">
				</mat-form-field>
			</div>
		</div>


	</div>
	<div class="canvas-container" [ngClass]="{'doc-viewer-collapsed': (applicationModelService.isDocumentViewerCollapsed$ | async)}">
<!--{{applicationModelService.browserWindowWidth$.value}} || (browserWindowWidthValue !== null && browserWindowWidthValue <= 1500)}-->
		<app-control-display-send-methods
				class="comms"
				[customerName]="paymentCustomerForename"
				[paymentTransactionExpiry]="paymentTransactionExpiry"
				[invoiceAmmount]="paymentTransactionTotalIncTax"
				[paymentTransactionNumber]="paymentTransactionNumber"
				[isInMainUI]="true"
				[paymentStatusId]="paymentStatusId"></app-control-display-send-methods>

		<app-control-document-viewer
				class="invoice"
				[paymentStatusId]="paymentStatusId"
				[isViewAttachment]="false"></app-control-document-viewer>

	</div>
</main>
<footer class="footer mat-elevation-z2-up">
	<div class="footer-inner" *ngIf="tabContentType === 'newPayment'">
		<div class="control-secondary">
			<button mat-button color="primary" mat-dialog-close (click)="doClearFields()">Clear All</button>
<!--			<div class="field-outer data-is-view-attachments">-->
<!--				<mat-slide-toggle [checked]='isViewAttachment' (change)="doToggleAttachmentViewer()">View Attachment</mat-slide-toggle>-->
<!--			</div>-->
		</div>
		<div class="control-primary">
			<button class="launcher" mat-icon-button color="primary" (click)="doCardlessPayment($event)"><mat-icon>rocket_launch</mat-icon></button>
<!--			<app-control-provider-select class="provider-select"></app-control-provider-select>-->
			<button mat-flat-button color="primary" (click)="doSendFromDataSource()">Send to Customer</button>
		</div>
	</div>

	<div class="footer-inner resend" *ngIf="tabContentType === 'payment'">
		<div class="control-secondary" *ngIf="paymentStatusId === 0">
			<button mat-flat-button color="warn" mat-dialog-close (click)="doClearFields()">Refund</button>
<!--			<div class="field-outer data-is-view-attachments">-->
<!--				<mat-slide-toggle [checked]='isViewAttachment' (change)="doToggleAttachmentViewer()">View Attachment</mat-slide-toggle>-->
<!--			</div>-->
		</div>
		<div class="control-secondary" *ngIf="paymentStatusId !== 0">
			<button mat-stroked-button color="warn" mat-dialog-close (click)="doClearFields()">Cancel Transaction</button>
		</div>
		<div class="control-primary">
			<button class="launcher" mat-icon-button color="primary" (click)="doCardlessPayment($event)"><mat-icon>rocket_launch</mat-icon></button>
<!--			<app-control-provider-select class="provider-select"></app-control-provider-select>-->
			<button mat-flat-button color="primary" (click)="doSend()" [disabled]="paymentStatusId === 0">Send Again</button>
		</div>
	</div>

	<div class="footer-inner" *ngIf="tabContentType === 'newPaymentTriage' || tabContentType === 'newPaymentTriageNotSent'">
		<div class="control-secondary">
			<button mat-button color="primary" mat-dialog-close (click)="doClearFields()">Clear All</button>
		</div>
		<div class="control-primary">
			<button mat-icon-button class="launcher" color="primary" (click)="doCardlessPayment($event)"><mat-icon>rocket_launch</mat-icon></button>
			<button mat-flat-button color="primary" (click)="doSendFromDataSource()">Send to Customer</button>
		</div>
	</div>

</footer>
