@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 12px 12px 0 12px;
  .side-panel {
    min-width: 380px;
    max-width: 380px;
    padding: 12px;
    overflow: auto;
    .provider-select {
      display: flex;
      margin: 18px 0 12px 0;
    }
    .search-outer {
      display: flex;
      align-items: center;
      border: 1px solid palette.$medium-grey;
      background-color: palette.$white;
      height: 48px;
      border-radius: 4px;
      padding: 0 12px;
      margin-bottom: 12px;
      .app-selector {
        display: flex;
        align-items: center;
      }
      input {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 0 12px;
        &::placeholder {
          font-size: 14px;
        }
      }
    }
    .invoice-status {
      display: flex;
      margin-bottom: 12px;
      align-items: center;
      padding: 6px 6px 12px 6px;
      border-bottom: 1px solid palette.$medium-light-grey;
      .status-text {
        display: flex;
        margin: 0 6px;
        flex-grow: 1;
      }
      .refNumber {
        display: flex;
        .refNumber-text {
          margin: 0;
        }
      }
    }
    .invoice-meta-data {
      display: flex;
      width: 100%;
      margin-bottom: 6px;
      padding: 6px;
      border-bottom: 1px solid palette.$medium-light-grey;
      flex-wrap: wrap;
      .field-outer {
        flex-basis: 33%;
        padding: 0 6px;
        &.data-vehicle-model {
          flex-basis: 100%;
        }
      }
    }
    .two-fields {
      display: flex;
      justify-content: space-between;
      .field-outer {
        flex-basis: 49%;
      }
    }

    .data-payment-type {
      padding: 6px 6px 12px 6px;
      border-bottom: 1px solid palette.$medium-light-grey;
    }
    .field-outer {
      margin-bottom: 6px;
      &.data-is-has-address {
        margin: 12px 0;
        padding: 0 6px;
      }
    }
  }
  .canvas-container {
    display: flex;
    flex-grow: 1;
    &.doc-viewer-collapsed {
      flex-direction: column;
      .comms {
        flex-basis: unset;
        flex-grow: 1;
      }
      .invoice {
        min-height: 72px;
        flex-basis: unset;
        height: unset;
        flex-shrink: 0;
      }
    }
    .comms {
      flex-basis: 34%;
      min-width: 400px;
    }
    .invoice {
      flex-basis: 66%;
    }

  }
}

.footer {
  padding: 0 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
  border-top:1px solid palette.$medium-grey;
  background-color: palette.$very-light-grey;
  .footer-inner {
    display: flex;
    width: 200%;
    &.resend {
      justify-content: flex-end;
    }
    .control-primary {
      display: flex;
      align-items: center;
      .provider-select {
        margin: 12px;
      }
      .cardless {
        margin: 12px;
      }
      .launcher {
        opacity: .1;
      }
    }
    .control-secondary {
      display: flex;
      align-items: center;
      flex-grow: 1;
      .data-is-view-attachments {
        margin: 0 12px;
      }
      .button-secondary {
        margin: 0 12px;
      }
    }
  }
}
