@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 12px;
  .side-panel {
    width: 320px;
    padding: 12px;
    .field-outer {
      margin: 6px;
    }
  }
  .canvas-container {
    flex-grow: 1;
    padding: 18px 24px;
    .canvas {
      border:1px solid palette.$medium-grey;
      border-radius: 4px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
      .header {
        display: flex;
        margin-bottom: 24px;
        .logo-container {
          .logo {
            max-height: 120px;
          }
        }
        .address {
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .invoice-address {
            line-height: 24px;
          }
        }
      }
      .sub-header {
        .customer-address {
          line-height: 18px;
        }
      }
    }
  }
}

.footer {
  padding: 0 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
  border-top:1px solid palette.$medium-grey;
  background-color: palette.$very-light-grey;
  .footer-inner {
    display: flex;
    width: 200%;
    &.resend {
      justify-content: flex-end;
    }
    .control-primary {

    }
    .control-secondary {
      flex-grow: 1;
    }
  }

}