@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
  width: 100%;
}

.chip-filter-outer {
  display: flex;
  align-items: center;
  border: 1px solid palette.$medium-dark-grey;
  min-height: 48px;
  border-radius: 4px;
  padding: 0 3px;
  min-width: 180px;
  position: relative;
  width: 100%;
  .chip-list {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    .filter-item {
      margin: 6px;
      .chip-inner {
        display: flex;
        align-items: center;
        .chip-text {
          flex-grow: 1;
          margin: 0 3px;
        }
        .chip-icon {
          flex-grow: 1;
          margin: 0 6px;
        }
      }
    }

  }

}

.mat-mdc-chip.mat-mdc-standard-chip {
  //--mdc-chip-container-height: 28px;
}

.filter-list {
  display: flex;
  align-items: center;
  .filter-item {
    display: flex;
    align-items: center;
    margin: 0 12px;
  }
}
