@use "src/sass/themes/palette-constants" as palette;
@use "src/sass/ifm-mixins/ifm-breakpoints" as bp;

:host {
  display: flex;
}

.field-outer {
  width: 100%;
  .search-outer {
    display: flex;
    align-items: center;
    border: 1px solid palette.$medium-grey;
    height: 48px;
    border-radius:4px;
    padding: 0 12px;
    input {
      outline: 0;
      border: 0;
      width: 100%;
    }
  }
}

