<p
		id="editableSection"
		class="section-content"
		contenteditable="true"
		(blur)="doBlur($event)"
		(keyup)="doKeyUp($event)"
		[innerHTML]="sectionContent | safeHtml"
		[cdkContextMenuTriggerFor]="context_menu">
</p>

<ng-template #context_menu>
	<div class="insert-menu mat-elevation-z4" cdkMenu>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[dealerName]')">Dealer Name</button>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[customerFirstname]')">Customer First Name</button>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[ammount]')">Ammount</button>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[invoiceNumber]')">Invoice Number</button>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[dueDate]')">Due Date</button>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[vehicle]')">Vehicle</button>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[workCarriedOut]')">Work Carried Out</button>
		<button class="insert-menu-item" cdkMenuItem (click)="insertText('[triageDisclaimer]')">Triage Disclaimer</button>
	</div>
</ng-template>