<!--Removed from form-new-payment.component-->

<!--<div class="canvas invoice">-->
	<!--				<div class="header">-->
	<!--					<div class="logo-container">-->
	<!--						<img class="logo" src="./assets/logos/future-motors-logo.png" alt="FutureMotors">-->
	<!--					</div>-->
	<!--					<div class="address">-->
	<!--						<address class="invoice-address">-->
	<!--							<span class="mat-headline-2">INV-<span *ngIf="paymentTransactionNumber !== ''">{{paymentTransactionNumber}}</span> <span *ngIf="paymentTransactionNumber === ''">XXXXXX</span></span><br />-->
	<!--							<span class="mat-headline-4">Future Motors Intergalactic</span><br />-->
	<!--							2001 Space Oddity Drive<br />-->
	<!--							Olympus Mons<br />-->
	<!--							Mars 2010<br />-->
	<!--						</address>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--				<div class="sub-header">-->
	<!--					<div class="address">-->
	<!--						<address class="customer-address">-->
	<!--							<span class="mat-headline-4">{{paymentCustomerForename}} {{paymentCustomerSurname}}</span><br />-->
	<!--							<span *ngIf="paymentAddress1 !== ''">{{paymentAddress1}}<br /></span>-->
	<!--							<span *ngIf="paymentAddress2 !== ''">{{paymentAddress2}}<br /></span>-->
	<!--							<span *ngIf="paymentAddress3 !== ''">{{paymentAddress3}}<br /></span>-->
	<!--							<span *ngIf="paymentState !== ''">{{paymentState}}<br /></span>-->
	<!--							<span *ngIf="paymentPostCode !== ''">{{paymentPostCode}}<br /></span>-->

	<!--							<span *ngIf="paymentCustomerTelNo !== ''">{{paymentCustomerTelNo}}<br /></span>-->
	<!--							<span *ngIf="paymentCustomerTelNo === ''">Add Customer Telephone<br /></span>-->
	<!--							<span *ngIf="paymentCustomerEmail !== ''">{{paymentCustomerEmail}}</span>-->
	<!--							<span *ngIf="paymentCustomerEmail === ''">Add Customer Email</span>-->
	<!--						</address>-->
	<!--					</div>-->
	<!--					<div class="additional-data">-->
	<!--						<div class="additional-data-inner">-->
	<!--							<div class="naked-form-field data-gst">-->
	<!--								<div class="field-label"><span>GST</span></div>-->
	<!--								<div class="field-outline">-->
	<!--									<div class="field-contents">-->
	<!--										<span>884422824</span>-->
	<!--									</div>-->
	<!--								</div>-->
	<!--							</div>-->
	<!--&lt;!&ndash;							<div class="naked-form-field data-issue-date">&ndash;&gt;-->
	<!--&lt;!&ndash;								<div class="field-label"><span>Issue Date</span></div>&ndash;&gt;-->
	<!--&lt;!&ndash;								<div class="field-outline">&ndash;&gt;-->
	<!--&lt;!&ndash;									<div class="field-contents">&ndash;&gt;-->
	<!--&lt;!&ndash;										<span>05/02/2032</span>&ndash;&gt;-->
	<!--&lt;!&ndash;									</div>&ndash;&gt;-->
	<!--&lt;!&ndash;								</div>&ndash;&gt;-->
	<!--&lt;!&ndash;							</div>&ndash;&gt;-->
	<!--							<div class="naked-form-field data-emxpiry">-->
	<!--								<div class="field-label"><span>Expiry Date</span></div>-->
	<!--								<div class="field-outline">-->
	<!--									<div class="field-contents">-->
	<!--										<span>{{paymentTransactionExpiry}}</span>-->
	<!--									</div>-->
	<!--								</div>-->
	<!--							</div>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--				<div class="invoice-body">-->
	<!--					<span class="salutation-text" contenteditable="true">Dear {{paymentCustomerForename}}, <br/><br/>Thank you for the opportunity to work on your hovercar, if you have any questions, please contact the office and we will answer any questions.</span>-->
	<!--					<mat-form-field  [(ngModel)]="paymentInvoiceLines" floatLabel="always">-->
	<!--						<mat-label>Summary</mat-label>-->
	<!--						<textarea matInput-->
	<!--								  cdkTextareaAutosize-->
	<!--								  #autosize="cdkTextareaAutosize"-->
	<!--								  [(ngModel)]="paymentInvoiceLines"-->
	<!--								  cdkAutosizeMinRows="1"-->
	<!--								  cdkAutosizeMaxRows="15"></textarea>-->
	<!--					</mat-form-field>-->
	<!--				</div>-->

	<!--				<div class="invoice-totals">-->
	<!--					<div class="mat-headline-4 total">Total Excluding Tax ${{paymentTransactionTotalExTax | number: '1.2-2'}}</div>-->
	<!--					<div class="mat-headline-4 total">Total Tax ${{paymentTransactionTotalTax | number: '1.2-2'}}</div>-->
	<!--					<div class="mat-headline-2 total">Total Including Tax ${{paymentTransactionTotalIncTax | number: '1.2-2'}}</div>-->
	<!--				</div>-->

	<!--				<div class="invoice-fine-print">-->
	<!--					<div class="mat-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>-->

	<!--				</div>-->
<!--</div>-->