<header class="header">
  <h1 class="mat-headline-2 title-text">Payment App</h1>
</header>
<mat-dialog-content>
  <mat-tab-group mat-stretch-tabs="false" class="ifm-tabs add-ops-tabs" [selectedIndex]="selectedTab" (selectedTabChange)="onTabSelected($event)">
    <mat-tab label="Index">
      <ng-template mat-tab-label>
        <span class="tab-label"><mat-icon>list</mat-icon><span class="tab-label-text">Index</span></span>
      </ng-template>
      <div class="tab-inner">
        <app-table-payment-list></app-table-payment-list>
      </div>
    </mat-tab>
    <mat-tab label="Form">
      <ng-template mat-tab-label>
        <span class="tab-label"><mat-icon>credit_card</mat-icon><span class="tab-label-text">Payment Form</span></span>
      </ng-template>
      <div class="tab-inner">
        <app-view-payment [reviewText]="'Customer Details'"
                          [paymentText]="'Payment Details'"
                          [buttonText]="'Send to Customer'"
                          [isHasData]="isHasData"
                          [editMode]="editMode"
                          [isHasAddress]="isHasAddress"
                          [noBorder]="true"
        ></app-view-payment>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="actions-inner" *ngIf="selectedTab === 1">
    <app-control-provider-select></app-control-provider-select>
    <div class="control">
      <button mat-button color="primary" mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary" (click)="doSend()" [mat-dialog-close]="true">Send to Customer</button>
    </div>
  </div>

  <div class="actions-inner" *ngIf="selectedTab === 0">
    <div class="control">
      <button mat-button color="primary" mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary" (click)="doNewPayment()">New Payment</button>
    </div>
  </div>

</mat-dialog-actions>
