<header class="history-header">
  <h1 class="heading mat-headline-2">Transaction History</h1>
</header>
<main class="history-body">
  <table class="ifm-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Actioned By</th>
        <th>Action</th>
        <th>Sent</th>
        <th>Send Method(s)</th>
        <th>Template(s) Used</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>05/02/2032 @ 24:22</td>
        <td>Martin Tudor Reed</td>
        <td>Payment Created</td>
        <td>Yes</td>
        <td>Email, SMS</td>
        <td>Standard Email template, Standard SMS Template</td>
      </tr>
    </tbody>
  </table>
</main>
<footer class="history-footer">
  <button mat-flat-button color="primary" matDialogClose>Close</button>
</footer>
